*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "Gabarito", serif;
}
.navbar{
    background-color: aliceblue;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
}
.navbar-s1__title{
    color: purple;
}
.navbar-s2{
    border: solid black 1px;
    padding: 10px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar-s2 input{
    border: none;
    background-color: transparent;
    width: 100%;
}
.navbar-s2 input:focus{
    outline:none;
}
.navbar-s3{
    display: flex;
    padding: 10px;
    gap: 10px;
    align-items: center;
}
.categories{
    display: flex;
    padding:10px;
    justify-content: space-around;
    border-bottom: solid black 1px;
}
.categories p{
    background-color: rgb(175, 7, 175);
    border-radius: 20px;
    padding: 10px;
}
.sale-image {
    width: 100%;
    position: relative;
}
.recommended{
    padding: 10px;
}
.course-card{
    width: 300px;
    
}
.course-card img{
    width: 100%;
    height: 50%;
}
.recommended-container{
   margin-top: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.topics{
    padding: 10px;
}
.topics-container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.topics-container p{
    border:solid gray 1px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}
.popular{
    padding: 10px;
}
.popular-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.footer{
    background-color: black;
    color: aliceblue;
    padding: 30px;
}
.footer-one{
    display: flex;
    gap: 10px;
}
.footer-two{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}
.footer-one p{
    margin: 20px;
}
.sale-img__offer{
    border: solid black 2px;
    padding: 10px;
    width: 400px;
    position: absolute;
    left: 100px;
    top: 40px;
    background-color: white;
}
.mylearning{
    position: relative;
    cursor: pointer;
}
.mylearning__popup{
    position: absolute;
    background-color: white;
    border: solid black 1px;
    width: 100px;
    top: 150%;
    padding: 20px;
    right: 0;
    display: none;
}
.mylearning:hover .mylearning__popup{
    display: block;
}